@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  outline: 0;
  appearance: 0;
  a {
    text-decoration: none;
    color: rgb(40, 40, 40);
  }
  color: rgb(40, 40, 40);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background-color: #f9f9f9;
}

html {
  font-size: 14px;
}